{% extends "base.html" %}
{% load static %}
{% block title %}SushiSumma{% endblock title %}
{% block content %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">sushi_app</h1>
            <div class="list-group">
                <a href="/sushi_app/rentroom" class="list-group-item">sushi</a>

            </div>

        </div>
        <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                    </div>
                    <div class="carousel-item">
                    </div>
                    <div class="carousel-item">
                    </div>
                </div>
                <form action="{% url 'sushi_app:store_search' %}" method="get">
                    <input type="text" name="search" placeholder="search store">
                    <input type="submit" class="btn" value="search">
                </form>
                <br>
                <a href="{% url 'sushi_app:store_list' %}">store list</a>
---------------------------------
                {% for keyword in keywords_list %}
                <p><a href="{% url 'sushi_app:keyword_sort' keyword=keyword site='tabelog' %}">{{ keyword }}</a></p>
                {% endfor %}
-----------------------------------

            </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% endblock content %}
